@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

*{
    background-color: #1B2430;
    overflow-x: hidden;
}

.navbar{
    background-color: #111827;
}

.makeitvertical{
    writing-mode: vertical-lr;
    margin: 0;
    padding: 0;
}
